asn1crypto==1.5.1
beautifulsoup4==4.12.2
boto3==1.29.6
botocore==1.32.6
certifi==2023.11.17
charset-normalizer==3.3.2
configparser==6.0.0
fsspec==2023.10.0
idna==3.4
jmespath==1.0.1
lxml==4.9.3
packaging==23.2
python-dateutil==2.8.2
pytz==2023.3.post1
redshift-connector==2.0.917
requests==2.31.0
s3fs==0.4.2
s3transfer==0.7.0
scramp==1.4.4
six==1.16.0
soupsieve==2.5
urllib3==2.0.7
